.hcard{
    width: 1000px;
    height: 100px;
    background-color: #ffff1d;
    padding: 6px;
    position: fixed;
    left:0px ;
    top: 0px;
    
}

.scard{
    width: 750px;
    height: 500px;
    background-color: #4cff1f;
    padding: 6px;
    position: fixed;
    left:0px ;
    top: 172px; ;
}
.acard{
    width: 300px;
    height: 350px;
    background-color: #fd3bac;
    padding: 6px;
    position: fixed;
    left: 35px; ;
    top: 250px;
}
.arcard{
    width: 300px;
    height: 350px;
    background-color: #27d0ee;
    padding: 6px;
    position: fixed;
    left: 425px; ;
    top: 250px;
}
.ascard{
    width: 240px;
    height: 500px;
    background-color: #f31d1d;
    padding: 6px;
    position: fixed;
    left: 760px; ;
    top: 172px; ;
}
.fcard{
    width: 1010px;
    height: 80px;
    background-color: #0ba067;
    padding: 6px;
    position: fixed;
    left:0px ;
    top: 650px;
}
#nav{
    width: 1010px;
    height: 50px;
    background-color: #c0c0c0;
    padding: 0px;
    position: fixed;
    left: 0px;
    top: 115px;
}
#navigation{
    margin: 0px auto;
    position: relative;
    float: left;
    border-left: 1px solid #c0c0c0;
    border-right:  1px solid #c0c0c0;
}
.list{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    border-top: 1px solid #000000;
    border-bottom: 2px solid #000000;
}
.link{
    padding: 10px 20px;
    color: #616161;
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid #ff0000;
    border-left:1px solid #c0c0c0 ;
    border-top: 1px solid #c0c0c0;
    background: #c0c0c0;
}
.link:hover{
    background: #f0f0f0;
    color: #202020;
}
.list:hover> .link{
    background: #ffc400;
}
